<div class="container container--divider">
  <div class="grid">
    <div class="col w-1-3">
      <h1 class="no-marg-i txt--blue pad__bottom">We welcome contributions, both large and small</h1>
    </div>
    <div class="col w-2-3 normal documentation">
      <p class="fwb no-marg">You are encouraged to help improve the quality of this guide for the benefit of the community at large. Products are made stronger by good documentation and a good developer is a good documenter.</p>

      <p>Please contribute if you see any typos or factual errors or gaps in the knowledge-base. You may also find incomplete content or stuff that is not up to date. Make updates by sending a pull request to master, or file an issue for stuff you cannot patch yourself.</p>

      <p>If you're looking to contribute to core development, get started by reading our <a href="/contributing/">contributing guidelines</a> section.</p>
    </div>
  </div>
</div>