<h3 class="no-marg-i pad__bottom--half" style="color:#e02975">Getting started</h3>
<ul class="list--line marg__bottom">
  <li><a href="/cdn/getting-started/installing/">Installing</a></li>
  <li><a href="/cdn/getting-started/configuration/">Configuration</a></li>
  <li><a href="/cdn/getting-started/defining-sources/">Defining sources</a></li>
</ul>

<h3 style="color:#e02975">Concepts in detail</h3>
<ul class="list--line marg__bottom">
  <li><a href="/cdn/concepts/layout/">Combining images with layout</a></li>
  <li><a href="/cdn/concepts/recipes/">Recipes</a></li>
  <li><a href="/cdn/concepts/routes/">Routes</a></li>
  <li><a href="/cdn/concepts/resizing/">Resizing</a></li>
  <li><a href="/cdn/concepts/flipping/">Flipping</a></li>
  <li><a href="/cdn/concepts/blurring/">Bluring</a></li>
  <li><a href="/cdn/concepts/cropping/">Cropping - fill, fit &amp; stretch</a></li>
  <li><a href="/cdn/concepts/interpolation/">Interpolation</a></li>
  <li><a href="/cdn/concepts/formats/">Converting between formats</a></li>
  <li><a href="/cdn/concepts/quality/">Compression and quality</a></li>
  <li><a href="/cdn/concepts/saturation/">Adjusting saturation</a></li>
  <li><a href="/cdn/concepts/sharpen/">Sharpen images</a></li>
  <li><a href="/cdn/concepts/rotating/">Rotating</a></li>
</ul>

<h3 style="color:#e02975">Every-day usage</h3>
<ul class="list--line marg__bottom">
  <li><a href="/cdn/everyday/colour-palette/">Retrieving a colour palette</a></li>
  <li><a href="/cdn/everyday/pixel-ratios/">Dealing with pixel ratios</a></li>
  <li><a href="/cdn/everyday/url-variables/">Using URL variables</a></li>
  <li><a href="/cdn/everyday/smart-crop/">Cropping based on subject matter</a></li>
  <li><a href="/cdn/everyday/min-assets/">Minifying and compressing CSS &amp; JS</a></li>
</ul>

<h3 style="color:#e02975">Code examples</h3>
<ul class="list--line marg__bottom">
  <li><a href="/examples/cdn/variables/">Live variable sandbox</a></li>
  <li><a href="/cdn/examples/responsive/">Responsive images</a></li>
  <li><a href="/cdn/examples/dadi-web/">Using with DADI Web</a></li>
</ul>
