<h3 class="no-marg-i pad__bottom--half" style="color:#e42918">Getting started</h3>
<ul class="list--line marg__bottom">
  <li><a href="/web/getting-started/installing/">Installing</a></li>
  <li><a href="/web/getting-started/configuration/">Configuration</a></li>
  <li><a href="/web/getting-started/connecting-api/">Connecting to DADI API</a></li>
  <li><a href="/web/getting-started/hello-world/">The “Hello World” app</a></li>
</ul>

<h3 style="color:#e42918">Concepts in detail</h3>
<ul class="list--line marg__bottom">
  {{#each collections}}
    {{#ifCond @key '==' 'web/concepts' }}
      {{#each this}}
        {{#ifCond title '!=' 'Concepts'}}
          <li>
            <a href="/{{path}}">{{{title}}}</a>
            {{#ifCond ../../path '==' 'web'}}
              <p class="no-marg-i txt--grey small">{{{excerpt}}}</p>
            {{/ifCond}}
          </li>
        {{/ifCond}}
      {{/each}}
    {{/ifCond}}
  {{/each}}
</ul>

<h3 style="color:#e42918">Every-day usage</h3>
<ul class="list--line marg__bottom">
  <li><a href="/web/everyday/debugging/">Debugging</a></li>
  <li><a href="/web/everyday/status/">Checking online status</a></li>
  <li><a href="/web/everyday/preload/">Preloading data</a></li>
  <li><a href="/web/everyday/dustjs/">Dust.js: Pages and partials</a></li>
  <li><a href="/web/everyday/npm/">Using NPM modules</a></li>
  <li><a href="/web/everyday/frontend/">Front end assets</a></li>
  <li><a href="/web/everyday/forms/">Posting data with forms</a></li>
  <li><a href="/web/everyday/public/">The public folder</a></li>
  <li><a href="/web/everyday/routing/">Routing &amp; rewrites</a></li>
  <li><a href="/web/everyday/errors/">Error handling </a></li>
  <li><a href="/web/everyday/logging/">Logging</a></li>
  <li><a href="/web/everyday/content-types/">Content types</a></li>
  <li><a href="/web/everyday/caching/">Cache control</a></li>
  <li><a href="/web/everyday/virtual-directories/">Virtual directories for static content</a></li>
</ul>

<h3 style="color:#e42918">Code examples</h3>
<ul class="list--line marg__bottom">
  <li><a href="/web/examples/external-data/">Loading external data</a></li>
  <li><a href="/web/examples/api-event/">Misc API using an Event</a></li>
  <li><a href="/web/examples/geolocate/">Geolocate visitors</a></li>
  <li><a href="/web/examples/sendgrid/">Adding a contact form</a></li>
  <li><a href="/web/examples/stripe/">Taking payments</a></li>
</ul>