<div class="container container--divider">
  <div class="grid">
    <div class="col w-1-3 pad__bottom--x2">
      <h1 class="no-marg-i txt--blue">About</h1>
      <p class="normal"><strong>This is the technical documentation aimed at developers.</strong></p>
      <p class="normal"><strong>DADI</strong> is a modern microservices framework, built specifically in support of the principles of API first and COPE.</p>
      <p class="no-marg-i"><a class="btn btn--blue btn--fill txt--white" href="https://dadi.tech/platform/">Learn more</a></p>
    </div>
    <div class="col w-2-3">
      <div class="card">
        <h2 class="medium no-marg-i">Platform concepts</h2>
        <p class="normal no-marg-i pad__top--half">Learn about the philosophy behind the platform and the concepts it is founded upon.</p>
        <p class="no-marg-i pad__top"><a class="btn small" href="https://dadi.tech/platform/concepts/">Learn more</a></p>
      </div>
      <div class="card">
        <h2 class="medium no-marg-i">License</h2>
        <p class="normal no-marg-i pad__top--half">DADI is a full open-source Node.js and MongoDB powered stack covered under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License</a> (GPL).</p>
        <p class="no-marg-i pad__top"><a class="btn small" href="/license/">Full license</a></p>
      </div>

      <p class="no-marg-i small"><strong class="txt--blue fwb">Coming soon</strong> An outline of similar products you could use instead of, or with DADI and examples of type of sites that would benefit from the stack.</p>
    </div>
  </div>
</div>
