<div class="container">
  <form class="alignc search" action="/">
    <input class="text" type="text" value="" placeholder="Search the documentation…"><input class="btn btn--fill btn--blue" type="submit" value="Search">
  </form>

  <ul id="results" class="hide list--line marg__top bg--light-grey pad__left pad__right pad__top--half pad__bottom--half">
    <li>
      <span class="txt--grey">Searching…</span>
    </li>
  </ul>
</div>

<style type="text/css">
  @media handheld, only screen and (min-width: 50em) {
    .search { display: flex; }
    .search .text { flex: 1; }
  }
</style>