/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(./fonts/karla-regular-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(./fonts/karla-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'), url(./fonts/karla-bold-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'), url(./fonts/karla-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: local('Karla Italic'), local('Karla-Italic'), url(./fonts/karla-italic-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: local('Karla Italic'), local('Karla-Italic'), url(./fonts/karla-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: local('Karla Bold Italic'), local('Karla-BoldItalic'), url(./fonts/karla-bold-italic-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: local('Karla Bold Italic'), local('Karla-BoldItalic'), url(./fonts/karla-bold-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Gilroy';
  font-style: bold;
  src: local('Gilroy Bold'), url(./fonts/gilroy-bold.woff2) format('woff2'), url(./fonts/gilroy-bold.eot) format('woff'), url(./fonts/gilroy-bold.ttf) format('ttf'), url(./fonts/gilroy-bold.eot) format('eot');
}

@font-face {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: normal;
  src: local("Menlo Regular"), url("./fonts/Menlo-Regular.woff") format("woff"); }

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}
pre, code {
  font-family: 'Menlo';
}

/*
* {
	padding: 0;
	margin: 0;
}*/

body {
	background: #f9f9f9;
	font-family: Karla, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color: #000;
	font-size: 17px;
	line-height: 1.3em;
	margin: 0 auto;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Gilroy, Karla, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: normal;
	/*position: relative;*/
}
h1 .anchor, h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor {
    width: 25px;
    float: left;
    margin-left: -25px;
    margin-top: -3px;
    outline: none;
    opacity: 0;
}
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
	opacity: 1;
}
.anchor svg {
	vertical-align: middle;
}



a {
	text-decoration: none;
	color: inherit;
}

h1 {
	margin-bottom: 5px;
	font-size: 22px;
	color: #000;
}
h2 {
	font-size: 36px;
	line-height: 1.1em;
	margin-bottom: 30px;
    margin-top: 60px;
}
h3 {
	font-size: 26px;
	margin-bottom: 25px;
	margin-top: 40px;
}
h4 {
	color: #666;
	font-size: 22px;
	margin-bottom: 30px;
	margin-top: 2em;
}
p {
	margin-bottom: 1em;
}

.larger { font-size: 32px; line-height: 38px; }
.large 	{ font-size: 26px; line-height: 32px; }
.medium { font-size: 22px; line-height: 28px; }
.normal	{ font-size: 19px; line-height: 27px; }
.small 	{ font-size: 15px; line-height: 20px; }


.btn {
	border-radius: 100px;
	border: 2px solid;
	font-weight: bold;
	padding: 3px 10px;
	display: inline-block;
	margin-right: 10px;
}
.btn:hover {
	background: #000;
	color: #fff;
	border-color: #000;
}

/* 
	Header
*/

header {
	background: #fff;
	border-bottom: 1px solid #E3E3E3;
	margin: 0 0 40px -60px;
}
header a {
	padding: 25px 60px;
	display: block;
}

.search {
	border-top: 1px solid #E3E3E3;
	display: block;
}
.search input {
	background: #f9f9f9 url(icon-search.svg) no-repeat 60px 50%;
    width: 100%;
    border: none;
	padding: 25px 60px 25px 90px;
	display: block;
	outline: none;
	font-size: 15px;
}
.search input:focus {
	background-color: #eee;
}

/*
	Article styling
*/

nav {
	position: fixed;
	top: 0; left: 0; bottom: 0;
	width: 20%;
	background: #141418 url(bg-nav.png) no-repeat 50%;
	background-size: 100% 100%;
	color: #fff;

	box-shadow: 0 2px 9px 0 rgba(0,0,0,0.33);

	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

@media handheld, only screen and (max-width: 650px) {
	nav {display: none}
}

nav > ul {
	padding: 0;
	margin: 0;
	font-size: 15px;
}
nav > ul > li {
	padding: 20px;
	border-bottom: 1px solid #303045;
}
nav li {
	list-style: none;
}

nav > ul > li > ul,
nav > ul > li > ul > li > ul {
	max-height: 0;
	opacity: 0;
	transition: 0.3s opacity, 0.3s max-height;
}
nav > ul > li.expanded > ul,
nav > ul > li > ul > li.expanded > ul  {
	max-height: 999px;
	opacity: 1;
}
nav .active {
	color: #2c85e5 !important;
}




nav a:hover {
	color: #2c85e5;
}
nav ul ul {
	padding-left: 13px !important;
}
nav > ul > li > ul > li {
	padding: 5px 0 0 0;
}
nav > ul > li > a,
nav > ul > li > p > a {
	font-weight: bold;
}
nav > ul > li > ul > li > a {
	font-weight: bold;
	color: #6E6E6E;
	text-transform: uppercase;
	font-size: 14px;
}


main {
	margin-left: 20%;
	padding-left: 60px;
	padding-bottom: 50px;
}
@media handheld, only screen and (max-width: 650px) {
	main {
		margin-left: 0;
		padding-left: 5%;
	}
}

/*
	Code highlighting
*/

code {
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	box-shadow: 7px 7px 4px 0 rgba(0,0,0,0.02);
	border-radius: 9px;
	padding: 0 5px;
	margin-bottom: -1px;
	font-family: Menlo, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
pre code {
	padding: 15px;
	margin-bottom: 20px;
	display: block;
	overflow: scroll;
}



.intro {
	min-height: 80vh;
	background: url(illo.png) no-repeat 100% 100%;
	background-size: 250px auto;
}
.intro p {
	max-width: 600px;
}
.intro__feat {
	margin-top: 70px;
}
.intro__feat div {
	position: relative;
	padding-left: 60px;
	margin-bottom: 30px;
}
.intro__feat img {
	position: absolute;
	left: 0; top: -3px;
}
.intro__feat p {
	color: #9C9C9C;
}


.docs {
	padding-right: 60px;
}
@media handheld, only screen and (max-width: 650px) {
	.docs {
		padding-right: 5%
	}
}
.docs h1 {
	color: #8F8F8F;
}
.docs--api h2 {
	color: #0ba6dd;
}

.docs ol, .docs ul {
	margin-left: 20px; 
}
.docs code, .docs table {
	font-size: 14px;
	line-height: 20px;
}
.docs table {
	display: block;
	width: 100%;
	word-break: normal;
	word-break: keep-all;
	border-spacing: 0;
	border-collapse: collapse;	
}

.docs table th {
	font-weight: bold;
}
.docs table th,
.docs table td {
	padding: 6px 13px;
	border: 1px solid #ddd;
}
.docs table tr {
	background-color: #fff;
	border-top: 1px solid #ccc;
}
.docs table tr:nth-child(2n) {
	background-color: #f8f8f8; 
}
.docs table tr:hover {
	background-color: red;
}
	
.docs img {
	position: relative;
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #ddd;
	border: 3px solid #fff;
}