body {
	background: #f9f9f9;
	font-family: Karla, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color: #000;
	font-size: 17px;
	line-height: 1.3em;
	margin: 0 auto;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	margin-left: 20%;
	padding-left: 60px;
	padding-bottom: 500px;
}
@media handheld, only screen and (max-width: 650px) {
	main {
		margin-left: 0;
		padding-left: 5%;
	}
}

/*
	Typography
*/

h1,h2,h3,h4,h5,h6 {
	font-family: Gilroy, Karla, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: normal;
	word-wrap: break-word;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	margin: 0;
	font-size: 22px;
	color: #000;
}
h2 {
	font-size: 36px;
	line-height: 1.1em;
	margin-bottom: 30px;
    margin-top: 60px;
}
h3 {
	font-size: 26px;
	margin-bottom: 25px;
	margin-top: 40px;
}
h4 {
	color: #666;
	font-size: 22px;
	margin-bottom: 30px;
	margin-top: 2em;
}
h5 {
	font-size: 17px;
}
p {
	margin-bottom: 1em;
	word-wrap: break-word;
}

.larger { font-size: 32px; line-height: 38px; }
.large 	{ font-size: 26px; line-height: 32px; }
.medium { font-size: 22px; line-height: 28px; }
.normal	{ font-size: 19px; line-height: 27px; }
.small 	{ font-size: 15px; line-height: 20px; }

/*
	Buttons
*/

.btn {
	border-radius: 100px;
	border: 2px solid;
	font-weight: bold;
	padding: 3px 10px;
	display: inline-block;
	margin-right: 10px;
}
.btn:hover {
	background: #000;
	color: #fff;
	border-color: #000;
}

.anchor {
    width: 25px;
    float: left;
    margin-left: -27px;
    margin-top: -3px;
    outline: none;
    opacity: 0;
    border: none !important;
    background: url(icon-link.svg) no-repeat 50% 70%;
    font-size: 0;
}
@media handheld, only screen and (max-width: 650px) {
	.anchor {
		float: right;
		opacity: 1;
		margin: 0;
	}
}
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
	opacity: 1;
}

/* 
	Header
*/

header {
	background: #fff;
	border-bottom: 1px solid #E3E3E3;
	margin: 0 0 0 -60px;
}
header a {
	padding: 25px 60px;
	display: block;
}
header ul {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 26px 3% 26px 0;
}
header ul li {
	display: inline-block;
}
header ul li a {
	display: block;
	font-weight: bold;
	padding: 2px 10px;
	margin: 7px;
	border-radius: 100px;
}
header ul li a:hover {
	background: #ddd;
	color: #21262d;
}
header ul li a.on {
	background: #e5462c;
	color: #fff;
}

@media handheld, only screen and (max-width: 650px) {
	header ul li a.on { display: none }
}

/*
	Footer
*/

footer {
	padding: 15px 20px;
	z-index: 10;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	color: #636972;
}
footer a {
	font-weight: bold;
}

/*
	Search
*/

.search {
	border-top: 1px solid #E3E3E3;
	display: block;
}
.search input {
	background: #f9f9f9 url(icon-search.svg) no-repeat 60px 50%;
    width: 100%;
    border: none;
	padding: 25px 60px 25px 90px;
	display: block;
	outline: none;
	font-size: 15px;
}
.search input:focus {
	background-color: #eee;
}

/*
	Navigation
*/

nav {
	position: fixed;
	top: 0; left: 0; bottom: 0;
	width: 20%;
	background: #141418 url(bg-nav.png) no-repeat 50%;
	background-size: 100% 100%;
	color: #fff;

	box-shadow: 0 2px 9px 0 rgba(0,0,0,0.33);

	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

@media handheld, only screen and (max-width: 650px) {
	nav {display: none}
}

nav > ul {
	padding: 0;
	margin: 0;
	font-size: 15px;
}
nav > ul > li {
	padding: 20px;
	border-bottom: 1px solid #2C3139;
}
nav > ul > li > a {
	margin: -20px -20px -20px -20px;
	padding: 20px;
	display: block;
}
nav li {
	list-style: none;
}

nav > ul > li > ul,
nav > ul > li > ul > li > ul {
	max-height: 0;
	opacity: 0;
	transition: 0.3s opacity, 0.3s max-height;
	user-select: none;
	overflow: hidden;
}
nav > ul > li.expanded > ul,
nav > ul > li > ul > li.expanded > ul  {
	max-height: 999px;
	opacity: 1;
	user-select: auto;
}
nav .active {
	color: #2c85e5;
}

nav a:hover {
	text-decoration: underline;
}
nav ul ul {
	padding-left: 13px !important;
}
nav > ul > li > ul {
	padding-left: 0 !important;
}
nav > ul > li > ul > li {
	padding: 8px 0 0 0;
}
nav > ul > li > a,
nav > ul > li > p > a {
	font-weight: bold;
	font-size: 17px;
}
nav > ul > li.expanded {
	background-color: rgba(0,0,0,0.3) !important;
	text-decoration: none;
}

nav > ul > li > ul > li > a {
	font-weight: bold;
	color: #6E6E6E;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	line-height: 18px;
}

/*
	Introduction
*/

.intro {
	min-height: 80vh;
	background: url(illo.png) no-repeat 100% 100%;
	background-size: 250px auto;
	padding-right: 20px;
}
.intro h2 {
	color: #e5462c;
	margin-top: 40px;
}
.intro p {
	max-width: 600px;
}
.intro__feat {
	margin-top: 70px;
}
.intro__feat div {
	position: relative;
	padding-left: 60px;
	margin-bottom: 30px;
}
.intro__feat img {
	position: absolute;
	left: 0; top: -3px;
}
.intro__feat p {
	color: #999;
}

/*
	Styles for docs
*/

.docs {
	border-top: 1px solid #e3e3e3;
	padding-top: 40px;
	margin-top: 80px;
	padding-right: 60px;
}
@media handheld, only screen and (max-width: 650px) {
	.docs {
		padding-right: 5%
	}
}

.docs h1 {
	color: #8F8F8F;
}
.docs code {
	font-size: 13px;
	line-height: 20px;
}
.docs table {
	font-size: 15px;
	display: block;
	width: 100%;
	word-break: normal;
	word-break: keep-all;
	border-spacing: 0;
	border-collapse: collapse;
	
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.docs table tbody {
	box-shadow: 7px 7px 4px 0 rgba(0,0,0,0.02);
}
.docs table th {
	font-weight: bold;
}
.docs table th,
.docs table td {
	padding: 6px 13px;
	border: 1px solid #ddd;
}
.docs table tr {
	background-color: #fff;
	border-top: 1px solid #ccc;
}
.docs table tr:nth-child(2n) {
	background-color: #f8f8f8; 
}
.docs table tr:hover {
	background-color: #EDEDED;
}

.docs img {
	position: relative;
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #ddd;
	border: 3px solid #fff;
}

/* 
	Code highlighting
*/

code {
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	box-shadow: 7px 7px 4px 0 rgba(0,0,0,0.02);
	border-radius: 9px;
	padding: 0 5px;
	margin-bottom: -1px;
	font-family: Menlo, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
pre code {
	padding: 15px;
	margin-bottom: 20px;
	display: block;

	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

/*
	App overrides
*/


.docs--api h2,
#nav--api .active { color: #0ba6dd;}
.docs--api a {
	border-bottom: 1px solid #0ba6dd;
	font-weight: bold;
}
#nav--api {
	background: url(https://dadi.tech/assets/products/dadi-api.png) no-repeat 90% 20px;
	background-size: auto 22px;
}
.docs--api ::selection {
	background: #0ba6dd;
	color: #fff;
}
.docs--api ::-moz-selection {
	background: #0ba6dd;
	color: #fff;
}

.docs--cdn h2,
#nav--cdn .active { color: #e02975;}
#nav--cdn {
	background: url(https://dadi.tech/assets/products/dadi-cdn.png) no-repeat 90% 22px;
	background-size: auto 22px;
} 
.docs--cdn ::selection { 
	background: #e02975;
	color: #fff;
}
.docs--cdn ::-moz-selection {
	background: #e02975;
	color: #fff;
}

.docs--publish h2,
#nav--publish .active { color: #ffbf0d;}
#nav--publish {
	background: url(https://dadi.tech/assets/products/dadi-publish.png) no-repeat 90% 22px;
	background-size: auto 22px;
}
.docs--publish ::selection {
	background: #ffbf0d;
	color: #000;
}
.docs--publish ::-moz-selection {
	background: #ffbf0d;
	color: #000;
}

.docs--web h2,
#nav--web .active { color: #e42918;}
#nav--web {
	background: url(https://dadi.tech/assets/products/dadi-web.png) no-repeat 90% 22px;
	background-size: auto 22px;
}
.docs--web ::selection {
	background: #e42918;
	color: #fff;
}
.docs--web ::-moz-selection {
	background: #e42918;
	color: #fff;
}