{% assign rootLength = include.root | size %}
{% assign pagePaths = site.pages | map: 'url' | sort %}
{% assign lastPath = nil %}

<ul class="{{ include.listClass }}">

{% for pagePath in pagePaths %}
	{% assign pathSlice = pagePath | slice: 0, rootLength %}
	
	{% if include.root == pathSlice %}
		{% assign pagePathLength = pagePath | size %}
		{% assign subject = pagePath | slice: rootLength, pagePathLength %}

		{% for sitePage in site.pages %}
			{% if sitePage.url == pagePath %}
				{% assign extractLastCharPos = pagePath | size | minus: 1 %}
				{% assign lastChar = pagePath | slice: extractLastCharPos %}

				{% if lastChar == '/' %}
					{% assign pagePath = pagePath | slice: 0, extractLastCharPos %}
				{% endif %}

				{% assign lastPathLength = lastPath | size %}
				{% assign nextPath = pagePath | split: '/' %}
				{% assign nextPathLength = nextPath | size %}

				{% if nextPathLength >= lastPathLength %}
					{% assign longestPath = nextPath %}
					{% assign shortestPath = lastPath %}
				{% else %}
					{% assign longestPath = lastPath %}
					{% assign shortestPath = nextPath %}
				{% endif %}

				{% assign newLevel = false %}

				{% for longestPathComponent in longestPath %}
					{% assign index = forloop.index | minus: 1 %}
					{% assign shortestPathLastIndex = shortestPath | size | minus: 1 %}
				
					{% if longestPathComponent != shortestPath[index] %}
						{% if index != shortestPathLastIndex and forloop.last == false %}
							{% assign newLevel = true %}
						{% endif %}

						{% if shortestPath[index] == nil %}
							{% assign newLevel = true %}
						{% endif %}
					{% endif %}
				{% endfor %}

				{% if newLevel %}
					{% if nextPathLength >= lastPathLength %}
						<ul>
					{% else %}
						</ul>
					{% endif %}
				{% endif %}

				<li><a href="{{ sitePage.url }}" class="{{ include.itemClass }} {% if page.url == sitePage.url %}{{ include.activeClass }}{% endif %}">{{ sitePage.title }}</a></li>

				{% assign lastPath = nextPath %}
				</li>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}

</ul>