@if $dp-grid-mode == 'inline-block' {
  .u-col {
    display: inline-block;
    margin-right: -4px;
  }
} @else if $dp-grid-mode == 'float' {
  .u-col-container {
    @include dp-clearfix;
  }

  .u-col-container--equal {
    @supports (display: flex) {
      display: flex;
      flex-wrap: wrap;

      .u-col {
        display: flex;
        margin-bottom: dp-spacing('normal');

        > *:only-child {
          min-height: 100%;
        }
      }      
    }
  }

  .u-col {
    float: left;
  }
} @else {
  @error "#{$dp-grid-mode} is not a valid grid mode";
}
