<footer class="c-footer">
  <div class="u-cols u-wrapper">
    <div class="u-col u-col--1-2 u-col--1-4@medium">
      <h3 class="c-footer__title">Client engagement</h3>
      <p class="epsilon"><a href="mailto:makesomething@dadi.tech">makesomething@dadi.tech</a><br>
      +44 (0) 20 7205 2902</p>
    </div>
    <div class="u-col u-col--1-2 u-col--1-4@medium">
      <h3 class="c-footer__title">Media enquiries</h3>
      <p class="epsilon"><a href="mailto:press@dadi.tech">press@dadi.tech</a><br>
      +44 (0) 20 7205 2901</p>
    </div>
    <div class="u-col u-col--1-2 u-col--1-4@medium">
      <h3 class="c-footer__title">Careers</h3>
      <p class="epsilon"><a href="mailto:joinus@dadi.tech">joinus@dadi.tech</a><br>
      +44 (0) 20 7205 2903</p>
    </div>
    <div class="u-col u-col--1-2 u-col--1-4@medium">
      <h3 class="c-footer__title">Everything else</h3>
      <p class="epsilon"><a href="mailto:hi@dadi.tech">hi@dadi.tech</a><br>
      +44 (0) 20 7205 2900<br>
      <a href="http://twitter.com/dadi">@dadi</a></p>
    </div>
  </div>
</footer>