.c-header {
  @include dp-font-smoothing;

  background: url('/public/assets/img/bg.png') fixed repeat -30%;
  background-size: 400px auto;
  font-family: dp-font('primary');
  padding: 2 * $dp-room;
}

.c-header__inner-wrapper {
  @include dp-clearfix;
  @include dp-wrapper($dp-max-width);

  padding: $dp-room 0;
}

.c-header__top {
  float: right;
  text-align: right;
}

.c-header__links {
  color: dp-color('white');
  list-style-type: none;
  font-weight: bold;
  margin: 0 0 $dp-room 0;

  .c-header--collapsed & {
    margin-bottom: $dp-room;
  }
}

.c-header__link {
  color: dp-color('white');
  display: inline-block;

  & + & {
    margin-left: $dp-room;
  }
}

.c-header__logo {
  width: 111px;
  margin-bottom: 15px;
}

.c-header__title {
  color: dp-color('white');
  font-size: dp-size('normal');
  font-weight: bold;
  margin-bottom: 0;
}

.c-header__subtitle {
  color: dp-color('grey-a');
  font-weight: bold;
  margin-bottom: dp-spacing('larger');
}