<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% if page.dir %}
      {% assign dirs = page.dir | split: '/' %}
    {% else %}
      {% assign dirs = page.url | split: '/' %}
    {% endif %}

    {% assign dirs_size = dirs | size %}

    {% if dirs_size > 1 %}
      {% assign dir = dirs[1] | prepend: '/' | append: '/' %}
    {% else %}
      {% assign dir = '/' %}
    {% endif %}

    <div class="top top--dark">
      <div class="u-wrapper u-wrapper-gutter">
      <header class="c-header">
        <p><a href="/"><img src="/public/assets/img/dadi.svg" width="150" alt="DADI"></a></p>
      </header>
      <span>
        {% case dirs[1] %}
          {% when 'api' %}
            DADI API
          {% when 'cdn' %}
            DADI CDN
          {% when 'web' %}
            DADI Web
          {% when 'tutorials' %}
            {{ page.product }}
          {% else %}
        {% endcase %}
      </span>
      <h1 style="margin:0">{{ page.title }}</h1>
      </div>
    </div>

    <div class="u-wrapper u-wrapper-gutter u-cols u-margin-top-larger">
      <div class="c-markdown-body u-col {% if dir != '/' %}u-col--2-3{% endif %}">
        {{ content }}
      </div>
      {% if dir != '/' %}
      <div class="u-col u-col--1-3 u-padding u-color-black">
        <a class="u-margin-bottom c-button c-button--positive" href="http://github.com/dadi/docs/edit/master/{{ page.path }}">Edit in github</a>
        <div class="c-card u-padding u-docnav">
          {% include mnu.html root=dir activeClass="active" %}
        </div>
      </div>
      {% endif %}
    </div>

    {% include components/footer.html %}
  </body>
</html>