@function dp-size($unit-factor: 'normal') {
  $size: $unit-factor;
  
  @if type_of($unit-factor) == 'number' {
    $sizes: map-keys($dp-size-units);
    $sizeIndex: index($sizes, 'normal') + $unit-factor;
    
    @if ($sizeIndex <= 0) or ($sizeIndex > length($dp-size-units)) {
      @error "#{$unit-factor} not a valid dp-size offset";
    }
    
    $size: nth($sizes, $sizeIndex);
  }
  
  @if map-has-key($dp-size-units, $size) {
    @return map-get($dp-size-units, $size) * $dp-base-size;
  }

  @error "#{$size} is not a valid unit factor";
}
